<section>
  <h1>Semantic Web Buch</h1>
  <p><a href="http://entwickler-press.de/ep/psecom,id,2,buchid,185.html"><img src="http://entwickler-press.de/ep/ep_buecher/pspic/cover_normal/12/s_k_Semant4948cdb03caf0.jpg" alt="Semantic Web schnell + kompakt, Matthias Geisler, entwickler.press, 2009" title="Semantic Web schnell + kompakt, Matthias Geisler, entwickler.press, 2009" width="134" height="214"></a></p>
  <p><a href="http://www.amazon.de/Semantic-Web-schnell-Matthias-Geisler/dp/3868020284/ref=sr_1_3?ie=UTF8&amp;s=books&amp;qid=1234040730&amp;sr=8-3">Jetzt kaufen</a> | <a href="{{ root_url}}/semantic-web-schnell-und-kompakt/">Mehr erfahren</a></p>
</section>