{% if site.piwik_site_id and site.piwik_server_name %}
  <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{ site.piwik_server_name }}/" : "http://{{ site.piwik_server_name }}/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ site.piwik_site_id }});
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
  </script><noscript><img src="http://{{ site.piwik_server_name }}/piwik.php?idsite={{ site.piwik_site_id }}" style="border:0" alt="" /></noscript>
{% endif %}
